.left{
    float: left;
}

.right{
    float: right;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 

.hidden{
    display: none;
}

.invizible{
    opacity: 0;
}


.site-blue{
    color: #28a7f0;
}

.error-message {
    color:red;
}

 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}




html{
    height: 100%;
}
html,body{
    margin:0;
    padding:0;
    width: 100%;
}
body{
      font-family: helvetica, arial, sans-serif;
}


p.full-line{
    font-size: 16px;
    height: 26px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    background-color: #969696;
    color: #4D4D4D;
    text-indent: 5px;
    line-height: 26px;
    margin: 2px 0;
}

#wrapper{
    margin: 0 auto;
    width: 1020px;
}

#content{
    padding-top: 20px;
}

#header p{
    color: #4d4d4d;
    font-size: 20px;
}


#menu{
    width: 210px;
    margin:0;
    padding: 0;
    list-style: none;
}

#menu > li{
    display: block;
    position: relative;
    margin: 1px 0;
}

#menu > li.add-new{
    margin-top: 20px
}

#menu a.link,
#menu span{
    text-decoration: none;
    background-color: #eee;
    color: #28a7f0;
    display: block;
    text-align: center;
    font-size: 17px;
    line-height: 40px;
    height: 40px;
}

#menu span{
    background-color: #fff;
}






#menu a.delete, #menu a.active,#menu a.busy,#menu a.edit{
    font-size: 0;
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    right: 0;
}


#menu li:hover a.delete,
#menu li:hover a.edit{
    display: block;
}

#menu a.delete{
    bottom: 0;
    background: url('../img/icon-delete.png') no-repeat center;
}
#menu a.edit{
    top: 0;
    background: url('../img/icon-edit.png') no-repeat center;
}

#menu a.active{
    display: block;
    top: 13px;
    left: 0;
    background: url('../img/icon-active.png') no-repeat center;
}
#menu a.busy{
    display: block;
    top: 13px;
    left: 0;
    background: url('../img/icon-busy.png') no-repeat center;
}

#menu a:hover{
    background-color: #999; 

}

#menu a.link:hover{
    color: #fff;
    background-color: #666666; 
}



table.normal{
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
}

table.normal td,
table.normal th{
        border: 1px solid white;
}


table.normal tr{
    cursor: pointer;
}


td.normal-lenght,
th.normal-lenght{
    min-width: 250px;
    
}

td.long-lenght,
th.long-lenght{
    min-width: 449px;
}

td.normal-lenght img {
    margin: 0 auto;
}
td.short-length,
th.short-length{
    min-width: 230px;
}

table.normal th{
    font-size: 16px;
    height: 26px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    background-color: #969696;
    color: #4d4d4d;
    text-indent: 5px;
}

tr{
    background-color: #e3e3e3;
}

tr.odd{
    background-color: #efefef;
}


table.normal td.category,
table.normal th.category{
    width: 100px;
}

table.normal td{
     text-indent: 10px;
}


table.normal td.order,
table.normal th.order{
    width: 75px;
     vertical-align: middle;
    text-align: center;
    text-indent: 0;
}

table.normal td.number,
table.normal th.number{
    width: 65px;
    vertical-align: middle;
    text-align: center;
    text-indent: 0;
}

table.normal th.actions,
table.normal td.actions{
    vertical-align: middle;
    text-align: center;
    text-indent: 0;
}

table.normal td.actions ul{
    padding: 0;
    margin: 0;
}

table.normal td.actions ul li{
    display: inline-block;
    margin-right: 2px;
    padding: 3px 4px 2px;
    font-size: 14px;
}

table.normal td.actions ul li a{
    text-decoration: none;
    color: #4d4d4d;
}

table.normal td.actions ul li:hover{
    background-color: #666;
}

table.normal td.actions ul li:hover a{
    color: #fff;
}

table.normal td.action,
table.normal td.action-delete{
    text-indent: 0;
    width: 105px;
}

table.normal td.action a,
table.normal td.action-delete a{
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: #4d4d4d;
    text-align: center;
    padding: 5px 0 4px;
}

table.normal td.action-delete a{
    height: 75px;
    line-height: 75px;
}

table.normal td.action a:hover,
table.normal td.action-delete a:hover{
     background-color: #666;
     color: #fff;
}


table.normal td.status{
    width: 16px;
    vertical-align: middle;
    text-align: center;
    padding:5px 5px 0;
    text-indent: 0;
}

form.category-add,
form.category-edit{
    padding: 2px 0;
}

form.category-edit{
    float: right;
    width: 760px;
    position: relative;
}



form.category-add .text,
form.category-edit .text,
form.category-edit .select{
    background-color: #e3e3e3;
    margin-bottom: 2px;
    text-align: left;
    width: 100%;
}

form.category-add .text label,

form.category-add .select label,
form.category-add .text input[type=text],
form.category-edit .text label,
form.category-edit .select label,
form.category-edit .text input[type=text]{
    display: inline-block;  
    font-size: 15px;
    border: 0;
}

form.category-add .text label,
form.category-edit .text label,
form.category-edit .select label{
    text-align: right;
    padding-right: 20px;
    width: 245px;
}

form.category-edit textarea{
    display: block;
width: 748px;
padding: 5px;
margin: 2px 0;
}

form.category-add input[type=text],
form.category-edit input[type=text]{
    font-size: 14px;
    padding: 2px 5px 1px;
    margin: 2px;
    height: 20px;
    line-height: normal;
    width: 480px;
}

form.category-add input[type=submit],
 a.cancel,
form.category-edit input[type=submit],
form.options input[type=submit]{
    border: 0;
    font-size: 14px;
    display:block;
    width: 85px;
    text-align: center;
    padding: 4px 0 3px;
    color: #4d4d4d;
   background-color: #B0B0B0;
   text-decoration: none;
}





form.category-add input[type=submit]:hover,
form.category-edit input[type=submit]:hover,
a.cancel:hover{
      color: #fff;
       background-color: #666;
}


form.category-edit input[type=submit].top-right{
    top: 2px;
    right: 0;
    position: absolute;
    width: 118px;
    height: 85px;
}


form.category-edit a.top-right{
    right: 0;
    top: 89px;
    height: 20px;
    width: 118px;
    position: absolute;
}

form.category-edit .textarea label{
    display: block;
   background-color: #B0B0B0;
text-align: center;
padding: 4px 0 3px;
margin: 5px 0 2px;
font-size: 16px;
color: #4d4d4d
}


form.category-edit .checkbox{

    width: 49%;
    display: inline-block;

}

form.category-edit .checkbox label{
    width: auto;
    padding-left: 20px;
}



form.user-add{
    width: 375px;
    float: left;
    border: 1px solid #e3e3e3;
    padding: 0 2px 2px;
    margin-left: 60px;
}

form.user-add p,
form.user-add div.message{
    text-align: center;
    background-color: #969696;
    font-size: 14px;
    color: #4d4d4d;
    margin: 10px 0 4px;
    padding: 3px 0 2px;
    font-weight: bold;
}

form.user-add div.message{
    background-color: #DF6300;
}

form.user-add .input{
    background-color: #e3e3e3;
    margin-bottom: 1px;
    text-align: right;
}




form.user-add label,
form.user-add input[type=text],
form.user-add input[type=password]{
    display: inline-block;  
    font-size: 15px;
}


form.user-add label {
    padding-right: 10px;
    text-align: right;
    font-size: 14px;
    color: #4d4d4d;
}

form.user-add input[type=text],
form.user-add input[type=password]{
    width: 180px;
    padding: 0 5px;
    line-height: normal;
}


form.user-add input[type=submit],

form.user-add a.cancel{
    font-size: 14px;
    display:block;
    width: 85px;
    text-align: center;
    padding: 4px 0 3px;
        color: #4d4d4d;
    background-color: #e3e3e3;
    float: right;
}

form.user-add input[type=submit]{
    border: 0;
    margin-top: 15px;
}

form.user-add a.cancel{
    text-decoration: none;
}

form.user-add input[type=submit]:hover,
form.user-add a.cancel:hover{
      color: #fff;
       background-color: #666;
}







#logout{
    margin: 0 0 10px;
    text-align: right;
}

#logout a{
    text-decoration: none;
    background-color: #B0B0B0;
    color: #4D4D4D;
    padding: 5px 20px 4px;
    font-size: 18px;
    margin: 0 3px;
}

#logout a:hover,
#logout a.active{
    color: #fff;
    background-color: #666;
}






#slides{
    
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 741px;
}



#slides li{
    display: block;
    width: 699px;
    height: 520px;
    margin: 3px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #231F20;
    padding: 20px;
    border : 1px solid #ccc;
    position: relative;word-wrap: break-word;
}


#slides li.autoh{
    height: auto;
}

#slides .actions{
    top: 0px;
    right: 0px;
    float: right;
    position: absolute;
}

#slides a.edit,
#slides a.delete,
#slides a.busy,
#slides a.active,
#slides a.cover,
#slides span.cover{
    background: url('../img/bicon_edit.png') no-repeat center center;
    height: 24px;
    width: 24px;
    background-color: transparent;
    margin-right: 5px;
    text-decoration: none;
    display: block;
    float: right;
}

#slides a.cover{
    background: url('../img/bicon_cover.png') no-repeat center center;
    position: absolute;
    left: 0px;
    top: 0px;
    }

#slides span.cover{
        background: url('../img/bicon_iscover.png') no-repeat center center;
    position: absolute;
    left: 0px;
    top: 0px;
}

#slides .tabs a.cover,
#slides .tabs span.cover{
    display: none;
}

#slides a.delete{
    background: url('../img/bicon_delete.png') no-repeat center center;
}

#slides a.busy{
    background: url('../img/bicon_busy.png') no-repeat center center;

}

#slides a.active{
    background: url('../img/bicon_active.png') no-repeat center center;

}


#slides a.edit:hover,
#slides a.delete:hover,
#slides a.busy:hover,
#slides a.active:hover,
#slides a.cover:hover{
    background-color: #aaa;
}

#slides div.en{
    width: 46%;
    float: left;
}


#slides div.de{
    width: 46%;
    color: #28a7f0;
    float: right;
}



#slides h3{
    font-size: 23px;
    margin: 0 0 27px;
    line-height: 27px;
    min-height: 54px;
}


#slides .tabs h3{
    display: none;
}

#slides div.text{
    font-size: 17px;
    line-height: 24px;
}




#admin-content{
    float: right;
    width: 760px;
}



.ui-state-highlight { background: #ccc; }


#new-slide{
    text-decoration: none;
background-color: #EEE;
color: #28a7f0;
display: block;
text-align: center;
font-size: 17px;
line-height: 70px;
height: 70px;
margin-top: 10px;
}

#new-slide:hover{
    color: #fff;
    background-color: #aaa;
}

.add-slide{
    text-align: center;
    color: #28a7f0;
    margin: 10px;
}



#done-upload{
    text-decoration: none;
background-color: #EEE;
color: #28a7f0;
display: block;
text-align: center;
font-size: 14px;
float: right;
display: none;
padding: 7px 20px;
}

#done-upload:hover{
    color: #fff;
    background-color: #aaa;
}


h4.categories{
    font-size: 16px;
    font-weight: bold;
    background-color: #EEE;
    color: #28a7f0;
    text-align: center;
    height: 31px;
    line-height: 32px;
    margin: 0 0 15px;
}


h4.categories a{
    display: block;
    width: 100%;
    height: 100%;
    color: #28a7f0;
    text-decoration: none;
}

h4.categories a:hover{
    color: white;
background-color: #666;
}



form.options{
    float: right;
    width: 760px;
    position: relative;
}

form.options .textarea{
    background-color: #E3E3E3;
    margin-bottom: 2px;
    text-align: right;
    line-height: 0;
}

form.options .textarea label{
    vertical-align: top;
    font-size: 16px;
    line-height: 30px;
    color: #000;
    padding-right: 20px;
    
    
}

form.options .textarea textarea{
    width: 500px;
    resize: none;
    margin: 2px;
    border: none;
}


form.options input[type=submit]{
    border: 0;
    font-size: 14px;
    display:block;
    width: 85px;
    text-align: center;
    padding: 4px 0 3px;
    color: #4d4d4d;
   background-color: #B0B0B0;
   text-decoration: none;
}




