@charset "utf-8";

div {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Temporary */
a[href="http://www.facebook.com"] { display: none; }

a {
	color:inherit;
}
a:hover{
	color:inherit;
}
a:visited {
	color:inherit;
}
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.vjs-menu-title {display: none !important;}
.vjs-menu-item {display: none !important;}

html, body{
	height: 100%;
	overflow: hidden;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

body{
	background: #fff url('../img/bg.png');
	position: relative;
	font-size: 100%;
}

body.iphone {
	font-size:75%;
}

#container{
	/*max-width: 1425px;
	margin: 0 auto;*/
	position: relative;
	height: 100%;
	width: 100%;
}

#container img,
#container video,
#vertical-lhover,
#vertical-rhover,
#text-rhover,
#text-lhover,
#horizontal-bhover,
#horizontal-thover,
#text-slider,
body{
	 -moz-user-select: -moz-none;
	 -khtml-user-select: none;
	 -webkit-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
}

a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#left-column {
	width: 35%;
	position: relative;
	height: 100%;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	text-align: center;
}

#move-menu {
	width: 100%;
	position: absolute;
	left: 0;
	margin-top: -2px;
}

#logo{
	margin: 0 auto;
	text-decoration: none;
	color: #28a7f0;
	font-size: 62px;
	top: 0;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	line-height: 100%;
	position: relative;
	display: inline-block;
}
#logo img {
	width: 191px;
}

#logo:hover{
	color: #231F20;
}

#menu {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

#menu li{
	display: block;
	text-align: center;
	color: #28a7f0;
	font-weight: bold;
}

#menu li a:hover{
	color: #231F20;
}
#menu li a.selected{
	text-decoration: underline;
	color: #231F20;
}

#social{
	text-align: center;
	position: absolute;
	bottom: 50px;
	width: 100%;
}

#social img{
	vertical-align: bottom;
	margin-left: 8px;
}

#social a{
	color: #28a7f0;
	font-weight: normal;
	line-height: 20px;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

#social a:nth-child(2){
	border-bottom: 1px solid #28a7f0;
}

#social a:hover{
	color: #231F20
}

.social-instagram-wrapper {
	margin-bottom: 30px;
}
.social-instagram-wrapper .social-instagram {
	display: inline-block;
}
.social-instagram-wrapper .social-instagram img {
	width: 42px;
	height: 40px;
}

#mobile-logo{
	display: none;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 36px;
	line-height: 36px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
	background-color: #28a7f0;
	background-color: rgba(40, 167, 240, 0.7);
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.7);

}

#mobile-logo.open{
	background-color: rgba(40, 167, 240, 0.8);
	-webkit-box-shadow: none;
	box-shadow: none;
}

#mobile-menu {
	display: none;
	background-color: #28a7f0;
	background-color: rgba(40, 167, 240, 0.8);
	position: absolute;
	top: 0;
	bottom: 36px;
	left: 0;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	z-index: 1999;
}

#mobile-menu ul {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
}

#mobile-menu li{
	display: block;
	line-height: 18px;
	height: 18px;
	text-align: center;
}

#mobile-menu li a,
#mobile-menu li span{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#mobile-menu li a{
	cursor: pointer;
}

#mobile-menu li a:hover{
	color: #231F20;
}
#mobile-menu li a.selected{
	text-decoration: underline;
	color: #231F20;
}

#loader{
	z-index: 2000;
	width: 62px;
	height: 62px;
	background: url('../img/ahoy-loader.gif') no-repeat center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -31px 0 0 -31px;
	display: none;
}

.video-js, embed, object {
	margin: 0 auto;
}



@media (max-width: 1024px) {
	body{
		font-size: 90%;
	}
	#logo{
		font-size: 50px;
	}
	#logo img {
		width: 156px;
	}
}

@media (max-width: 960px){

	body{
		font-size: 70%;
	}
	#logo{
		font-size: 42px;
	}
	#logo img {
		width: 133px;
	}
}

@media (max-width: 765px) {

	#container {
		/*top: -62px;*/
		padding-top: 62px;
		position: relative;
		margin: 0 auto;
		margin-top: -62px;
	}
	#mobile-logo{
		display: block;
		cursor: pointer;
	}
	#hover-slide h3{
		font-size: 20px !important;
	}
	#left-column{
		display: none;
	}
	#vertical-lhover,
	#vertical-rhover,
	#horizontal-thover,
	#horizontal-bhover,
	#text-lhover,
	#text-rhover{
		display: none;
	}

		#mobile-menu {
		overflow-y: scroll;
	}

	#mobile-menu ul {
		padding: 40px 0px 40px 0px;
	}
}

@media screen and (max-width: 320px) {

	#mobile-menu li{
		line-height: 24px;
		height: 24px;
		font-size: 18px
	}

	#mobile-menu {
		margin-top: -330px;
	}
}

/* Landscape */
@media screen and (min-width: 321px) and (max-width: 480px) {

	#mobile-menu li {
		line-height: 24px;
		height: 24px;
		font-size: 18px;
	}

	#mobile-menu {
		margin-top: -180px;
	}

}


@media screen and (max-width: 1340px) {body { font-size: 96%;} }
@media screen and (max-width: 1240px) {body { font-size: 92%;} }
@media screen and (max-width: 1140px) {body { font-size: 86%;} }
@media screen and (max-width: 1040px) {body { font-size: 82%;} }
@media screen and (max-width: 800px)  {body { font-size: 78%;} }
@media screen and (max-width: 641px)  {body { font-size: 75%;} }
