#horizontal-container{
  width: 100%;
  position: fixed;
  left: 0;
  height: 530px;
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 7px 4px rgba(125, 125, 125, 0.7);
  box-shadow: 0px 0px 7px 4px rgba(125, 125, 125, 0.7);
  z-index: 1200;
  top: 24%;
  height: 49%;
}

#horizontal-container.active{
  z-index: 1110;
}

#horizontal-container .video-js {
  text-align: center;
  margin: 0 auto;
}

#horizontal-container li video {
  max-width: 100%;
  height: 100%;
  width: auto;
  display: block;
  position: absolute;
  left:; 0px;
  top:; 0px;
}

#h-hover-prev,
#h-hover-next {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  cursor: pointer;
  z-index: 901;
}
#h-hover-prev {
  left: 0px;
  width: 62%;
}
#h-hover-next {
  right: 0px;
  width: 38%;
}

#horizontal-thover,
#horizontal-bhover{
  display: none;
  position: absolute;
  width: 100%;
  left: 0px;
  height: 30px;
  top: 0;
  text-align: center;
}

#horizontal-bhover{
  top: auto;
  bottom: 0;
}

#hover-slide{
  position: absolute;
  left:0;
  top: 0;
  background-color: #DCFA6A;
  background-color: rgba(220,250,106, 0.8);
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
  z-index: 3000;
}

#hover-slide h3{
  text-align: center;
  line-height: 100%;
  margin-top: 10px;
  width: 100%;
  color: #fff;
  cursor: pointer;
}

.horizontal-next {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
}

.horizontal-next span {
  position: absolute;
  margin-left: 0;
  top: 10px;
  height: 10px;
  width: 40px;
  background: url('../img/arrows2.png') no-repeat  -49px -13px;
  cursor: pointer;
  display: none;
}

.horizontal-next:hover span{
  background-position: -49px 0;
}

.horizontal-prev {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
}

.horizontal-prev span {
  position: absolute;
  margin-right: 0;
  top: 10px;
  right: 0%;
  height: 10px;
  width: 40px;
  background: url('../img/arrows2.png') no-repeat -49px -26px;
  cursor: pointer;
  display: none;
}

.horizontal-prev:hover span{
  background-position: -49px -38px;
}

.horizontal-pagination{
  position: absolute;
  height: 6px;
  top: 12px;
  display: none;
  margin: 0;
  padding: 0;
}

.horizontal-pagination li{
  display:block;
  background-color: #9DE814;
  width: 6px;
  height: 6px;
  --moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 0 3px;
  cursor: pointer;
  float: left;
}

.horizontal-pagination.small {
  height: 4px;
  top: 13px;
}

.horizontal-pagination.small li{
  width: 4px;
  height: 4px;
  --moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0 2.5px;
  line-height: 4px;
}

.horizontal-pagination li:fist-child{
  margin: 0;
}

.horizontal-pagination li:hover,
.horizontal-pagination li.active{
  background-color: #28a7f0;
}

#horizontal-next,
#horizontal-prev{
  position: absolute;
  top: 10px;
  left: 50%;
  height: 12px;
  width: 71px;
  background: url('../img/arrows2.png') no-repeat -49px -26px;
}

#horizontal-next{
  bottom: 10px;
  top: auto;
  background: url('../img/arrows2.png') no-repeat  -49px -12px;

}

#horizontal-thover:hover #horizontal-prev{
  background-position: -49px -38px;
}

#horizontal-container.active #horizontal-slider{
  z-index: 1100;
}
#horizontal-container.active #horizontal-thover,
#horizontal-container.active #horizontal-bhover{
  z-index: 1101;
}

#horizontal-bhover:hover #horizontal-next{
  background-position: -49px 0;
}

#horizontal-slider{
  position: absolute;
  height: 470px;
  left: 0;
  top: 30px;
  z-index: 900;
}

#horizontal-slider ul{
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#horizontal-slider li{
  width: 699px;
  float: left;
  height: 470px;
  margin: 0 16px;
  cursor: pointer;
  word-wrap: break-word;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #231F20;
  overflow: hidden;
  position: relative;
}

#horizontal-slider li img{
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 0 auto;
}

#horizontal-container div.en{
  width: 48%;
  float: left;
}

#horizontal-container div.de{
  width: 48%;
  color: #28a7f0;
  float: right;
}

#horizontal-container h3{
  font-size: 23px;
  margin: 0;
}

#horizontal-container div.text{
  font-size: 1.00em;
  line-height: 1.47em;
}

@media (max-width: 1024px) {

}

@media (max-width: 960px) {

}

@media (max-width: 765px) {

  #h-hover-prev {
    width: 50%;
  }
  #h-hover-next {
    width: 50%;
  }

  #horizontal-container {
    display: none;
    max-height: 100%;
    height: 191px;
    top: 50% !important;
    margin-top: -65px;
    position: absolute;
  }

  #horizontal-container div.text {
    font-size: 7px;
    line-height: 8px;
    font-weight: normal;
  }

  #horizontal-slider {
    top: 12px;
  }

  #horizontal-slider li {
    margin: 0px 8px;
  }

  #horizontal-slider .en, #horizontal-slider .de {
    font-size: 7px;
    line-height: 7px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-top: 0px;
  }

  #horizontal-slider .en p,
    #horizontal-slider .de p {
    margin-bottom: 8px 0;
  }


  #horizontal-slider h3 {
    color: white;
    font-size: 16px;
    line-height: 16px;
    margin-top: 0px;
    font-weight: normal;
  }
}
