/*****************************************
			GLOBAL STYLES
******************************************/
#vertical-container {
	height: 100%;
	position: absolute;
	left: 35%;
	top: 0;
	width: 699px;
	-webkit-box-shadow: 0px 0px 7px 4px rgba(125, 125, 125, 0.7);
	box-shadow: 0px 0px 7px 4px rgba(125, 125, 125, 0.7);
	background: white;
	width: 49%;
	display: none;
}

#guide-image {
	display: none;
	position: absolute;
	top: 0px;
	z-index: 3000;
	background: none !important;
}

#guide-image img {
	width: 100% !important;
	background: none !important;
	margin: 0px !important;
	top: 0px;
	left: 0px;
}

.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.remove_grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

#v-hover-prev,
#v-hover-next {
	position: absolute;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 23%;
	cursor: pointer;
	z-index: 902;
}
#v-hover-prev {
	top: 0px;
}
#v-hover-next {
	bottom: 0px;
}

#vertical-lhover,
#vertical-rhover{
	display: none;
	background-color: #fff;
	width: 32px;
	height: 100%;
	top: 0;
	z-index: 900;
	position: absolute;
}

#vertical-lhover{ left: 0; }
#vertical-rhover{ right: 0;}

#vertical-slider{
	position: absolute;
	min-height: 100%;
	width: 636px;
	left:32px;
	z-index: 901;
	top: 0px;
	display: none;
}

.vertical-pagination{
	position: absolute;
	width: 6px;
	left: 12px;
	display: none;
	padding: 0px;
	margin: 0px;
}

.vertical-pagination li{
	display:block;
	background-color: #9DE814;
	width: 6px;
	height: 6px;
	--moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 7px 0 0 0;
	cursor: pointer;
}

.vertical-pagination.small {
	width: 4px;
	left: 13px;
}

.vertical-pagination.small li{
	width: 4px;
	height: 4px;
	--moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 5px 0;
}

.vertical-pagination li:first-child {
	margin-top: 0;
}

.vertical-pagination li:hover,
.vertical-pagination li.active{
	background-color: #28a7f0;
}

.vertical-next,
.vertical-prev {
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
}

.vertical-next{
	bottom: 0;
}

.vertical-prev{
	top: 0;
}

.vertical-next span {
	position: absolute;
	margin-left: -5px;
	cursor: pointer;
	left: 50%;
	height: 40px;
	width: 10px;
	background: url('../img/arrows2.png') no-repeat -24px -1px;
	display: none;
	cursor:pointer;
}

.vertical-next:hover span{
	background-position: -36px -1px;
}

.vertical-prev span {
	position: absolute;
	margin-left: -5px;
	left: 50%;
	height: 40px;
	width: 10px;
	cursor: pointer;
	background: url('../img/arrows2.png') no-repeat -12px -1px;
	display: none;
	cursor:pointer;
}

.vertical-prev:hover span{
	background-position: 0 -1px;
}

#vertical-lhover:hover #vertical-prev{
	background-position: 0 -1px;
}

#vertical-container.active #vertical-slider,
#vertical-container.active #vertical-lhover,
#vertical-container.active #vertical-rhover{
	z-index: 1110;
}

#vertical-slider ul{
	margin: 0px;
	padding: 0;
	list-style: none;
	width: 100%;
}

#vertical-slider li{
	display: block;
	width: 100%;
	height: 499px;
	word-wrap: break-word;
	cursor: pointer;
	position: relative;
}

#vertical-slider li a{
	width: 100%;
	height: 439px;
	display: inline-block;
	background: #eee;
}

#vertical-slider li div.text{
	background-color: #28a7f0;
	height: 100%;
	width: 100%;
	text-align: center;
	display: table;
	vertical-align: middle;
	padding: 0px 0px;
}

#vertical-slider li > div{
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#vertical-slider div.text > div{
	display: table-cell;
	vertical-align: middle;
}

#vertical-slider h3{
	color: #fff;
	font-size: 42px;
	line-height: 42px;
	margin: 0 0 -4px;
}

#vertical-slider .de{
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	line-height: 30px;
	line-height: 116%;
}

#vertical-slider .en{
	color: #231F20;
	font-size: 26px;
	font-weight: bold;
	line-height: 30px;
	margin: 20px 0 ;
	line-height: 116%;
}

#vertical-slider img{
	display: block;
	cursor: pointer;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	max-height: 100%;
}

#vertical-slider li > h5{
	font-size: 12px;
	line-height: 32px;
	height: 30px;
	font-weight: normal;
	text-align: center;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	clear:both;
	overflow: hidden;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

#vertical-slider h5 span{
	color: #28a7f0;
}

#vItem0 h3 {
	margin-top: 16px;
}

@media (max-width: 1024px) {
	#vertical-container{
		right: 65px;
	}
}

@media (max-width: 960px){
	#vertical-container{
		right: 49px;
	}
	#vertical-slider{
		left: 26px;
	}
	#vertical-lhover,
	#vertical-rhover{
		width: 26px;
	}

	.vertical-pagination.small{
		left: 11px;
	}
}

@media (max-width: 765px) {

	#vertical-container {
		margin: 0 auto;
		right: auto;
		left: auto;
		position: relative;
	}

	#vertical-slider li > h5{
		font-size: 6px;
		height: 6px;
		line-height: 6px;
	}

	#vertical-slider .en, #vertical-slider .de {
		font-size: 10px;
		line-height: 11px;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: normal;
	}

	#vertical-slider .en{
		margin: 4px 0;
	}

	#vertical-slider p{
		margin: 0;
	}

	#vertical-slider h3 {
		color: white;
		font-size: 16px;
		line-height: 16px;
		margin-top: 0px;
		font-weight: normal;
	}
}
